@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Bandeins Strange';
  src: url('https://res.cloudinary.com/dldmpwpcp/raw/upload/v1566406079/BandeinsStrangeVariable_esetvq.ttf');
}

/* --- 自定义样式 --- */
* {
  box-sizing: border-box;
  user-select: none;
}
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-indigo-600 text-white font-[Sora] overflow-hidden;
}

::-webkit-scrollbar {
  display: none;
}

figure {
  margin: 0;
  overflow: hidden;
}

footer {
  @apply fixed z-50 bottom-0 flex items-center justify-between w-full h-28 px-8 text-sm;
}

.slide {
  @apply fixed inset-0 w-full h-full;
  visibility: hidden;
}
.slide__outer,
.slide__inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.slide__content {
  @apply absolute inset-0 flex items-center justify-center;
}

.slide__container,
.overlay__content {
  max-width: 1400px;
  width: 100vw;
  margin: 0 auto;
  height: 90vh;
  margin-bottom: 10vh;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.slide__heading {
  --width: 200;
  font-family: 'Bandeins Strange', system-ui, sans-serif;
  font-weight: 900;
  font-variation-settings: 'wdth' var(--width);
  color: #f2f1fc;
  mix-blend-mode: difference;
  grid-area: 2 / 2 / 3 / 10;
  align-self: end;
  margin: 0;
  padding: 0;
  font-size: clamp(5rem, 15vw, 15rem);
}

.slide__img-cont {
  margin-top: 4rem;
  grid-area: 2 / 1 / 7 / 8;
}
.slide__img-cont img,
.slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide:nth-of-type(1) {
  visibility: visible;
}

/* overlay */
.overlay {
  @apply fixed inset-0 z-20;
}
.overlay__img-cont {
  position: relative;
  overflow: hidden;
  margin: 0;
  grid-area: 4 / 3 / 9 / 11;
}
.overlay__img-cont img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.overlay__count {
  grid-area: 3 / 10 / 4 / 10;
  font-size: clamp(3rem, 4vw, 15rem);
  margin: 0;
  padding: 0;
  text-align: right;
  border-bottom: 7px solid #fff;
}

@media (min-width: 900px) {
  .overlay__content,
  .slide__container {
    padding: 0 3rem;
    margin-top: 10vh;
    height: 80vh;
  }
  .overlay__img-cont {
    grid-area: 5 / 4 / 10 / 11;
  }
  .overlay__count {
    grid-area: 3 / 10 / 4 / 11;
  }
  .slide__img-cont {
    margin-top: 0;
    grid-area: 3 / 2 / 8 / 7;
  }
  .slide__heading {
    grid-area: 1 / 1 / 4 / 10;
  }
}

.is-animating {
  pointer-events: none;
}
